* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
}

body {
  width: 1200px;
  margin: auto;
  margin-top: 20%;
  background: #4b81a0;
}


h1 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 50px;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
}

p {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
